body {
  padding-top: 50px;
  font-size: 10px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.lead {
  text-align: left;
}

.blackBox {
  background-color: grey;
  border: 1px solid black;
  display: block;  
  color: #FFF;
  font-size: 10px;
}