<!DOCTYPE html>
<html ng-app="simple">
  <head>
    <meta charset="utf-8">
    <title>Biarri Networks Front End Candidate Exercise</title>
    <link rel="icon" type="image/png" href="/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular.min.js"></script>    
    <script src="app.js"></script>
  </head>
  <body ng-controller="index">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Biarri Exercise</a>
        </div>    
      </div>
    </nav>

    <div class="container">
      <div class="starter-template">
        <h1>Biarri Networks Front End Candidate Exercise</h1>
        <p class="lead" ng-repeat="n in arrEmotions track by $index"> 
          <a ng-click="getEmotion($index)">>>{{$index}}</a> {{n.text_entry}}         
          <span class="blackBox" ng-if="arrEmotionsActive == $index">
            <br>
              {{arrEmotionsMessage}}
          </span>
        </p>
      </div>
    </div>
  </body>

</html>
